*{
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: auto;
}
 
.container{
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2 {
    margin: auto;
}

.form {
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #2ecc71;
}

.form button {
    background-color: blueviolet;
    border: 2px solid #8e448e;
    color: #fff;
    border-radius: 4px;
    display: block;
    font-family: inherit; 
    padding: 10px;
    width: 100%;
}